<nav>
  <h1>Thomas Tassin</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/T.png" id="logo" alt="logo" style="width:180px;height:180px;"/>
    {% endif %}
  </a>
  <h2><a href="/">Reviews</a>.</h2>
  <div id="bio">
    <p>Brief bio.</p>
    <p>In 2020 I decided to take a more active role in what I watch and read. This is my repository of reviews and reflections.
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
