<nav>
  <h2><b>Thomas Tassin</b></h2>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/T Logo 6Jul2020.png" id="logo" alt="logo"/>
    {% endif %}
  </a>
  <h2><i>Reviews</i></h2>
  <div id="bio">
    <p>In 2020 I decided to take a more active role in what I watch and read. This is my repository of reviews and reflections.
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
