<nav>
  <h1>Hi,</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/Tt.png" id="logo" alt="Blog logo" style="width:200px;height:196px;"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">Thomas Tassin</a>.</h2>
  <div id="bio">
    <p>Brief bio.</p>
    <p>
      Edit in <code>_includes/sidebar.html</code>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
